body {
	background-color: #EBECE4;
	/*background-image:url("../img/wavegrid.png");
	background-repeat:repeat;*/
}

/***************************NAV*****************************/
/************************************************************/
/************************************************************/

#fixed_navbar {
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	/*background-color: #303030;*/
	border-bottom: 1px solid black;
	margin: -10px 0px 10px 0px;
	padding: 15px 0px 0px 0px;
	top: 0;
  	left: 0;
  	z-index: 1;
  	/*background-image:url("../img/wavegrid.png");*/
	/*background-repeat:repeat;*/
}

#fixed_navbar a {
	color: #2b434f;
	text-decoration: none;
}

.nav_right li {
	float: left;
	padding: 23px 60px 0px 60px;
}

.name h1 {
	color: #2b434f;
	font-size: 30px;
	margin: 5px 0px 0px 90px;
}


.left2 {
	margin: 120px 0px 0px 0px;
	z-index: 9999;
}

/**************************BOXES*****************************/
/************************************************************/
/************************************************************/
.boxes {
	margin-top: 25px;
	margin-left: auto;
  	margin-right: auto;
  	width: 1500px;
  	float: left;
  	clear: both;
}

.boxes img {
	height: 250px;
	width: 250px;
	
	/*border: 2px solid #303030;*/
	/*border-radius: 20px;*/
}

.box {
	position: relative;
	float: left;
	background-color: white;
	margin: 20px 20px 20px 20px;
	float: left;
	/*border-radius: 20px;*/
}

.box1 {
	/*margin-top: 100px;*/
	height: 150px;
	width: 150px;
	/*border: 1px solid;*/
	clear: both;
}

.box1 img{
	padding-top: 20px;
	padding-left: 25px;
	height: 115px;
	width: 100px;
	/*border: 1px solid;*/
}

.box2 {
	height: 400px;
	width: 400px;
	/*border: 1px solid;*/
	margin-top: -172px;
}

.box2 img{
	height: 400px;
	width: 400px;
	/*border: 1px solid;*/
}

.box3 {
	/*margin-top: 40px;*/
	height: 260px;
	width: 260px;
	/*border: 1px solid;*/
	margin-top: -172px;
}

.box4 {
	margin-top: 20px;
	height: 290px;
	width: 150px;
	/*border: 1px solid;*/
	clear: both;
}

.box5 {
	/*margin-top: -30px;*/
	height: 200px;
	width: 260px;
	overflow: hidden;
	/*border: 1px solid;*/
}

.box5 img{
	margin-top: -10px;
	margin-left: 5px;
	height: 220px;
	/*width: 300px;*/
	/*border: 1px solid;*/
}

.box6 {
	height: 215px;
	width: 150px;
	/*border: 1px solid;*/
	margin-top: -3px;
	/*margin-left: 210px;*/
}

.box7 {
	/*margin-top: -30px;*/
	height: 297px;
	width: 250px;
	/*border: 1px solid;*/
	margin-top: -85px;
}

.box8 {
	/*margin-top: -30px;*/
	height: 297px;
	width: 107px;
	/*border: 1px solid;*/
	margin-top: -85px;
}

.box9 {
	/*margin-top: -30px;*/
	height: 190px;
	width: 260px;
	overflow: hidden;
	/*border: 1px solid;*/
}

.box9 img{
	width: 300px;
	margin: -20px 0px 0px -20px;
	/*width: 300px;*/
	/*border: 1px solid;*/
}


/*hr {
	width: 75%;
	margin: 0px auto;
}*/

/*.left2 img {
	margin: 15px 30px 30px 30px;
	border: 2px solid black;
	border-radius: 200px;
	hight: 250px;
	width: 250px;
}*/


/*
	h1 {
		font-size: 25px;
		color: #FF6600;
		font-family: "arial";
		font-weight: 100;
	}
	h2 {
		font-style: bold;
		color: #FF6600;
		font-family: "arial";
		font-weight: 100;
	}
	p {
		font-family: "arial";
	}
	li {
		display: inline;
		padding: 0px 12px 0px 12px;
	}
	table {
		padding: 0px 100px 0px 0px;
	}
	a {
		text-decoration: none;
		color: #FF6600;
		font-family: "arial";
	}
	body {
		background-image:url("img/grey_wash_wall.png");
		background-repeat:repeat;
	}
	#fixed_toptop {
		position: fixed;
		width: 100%;
		background-image:url("img/wavegrid.png");
		background-repeat:repeat;
		border-bottom: 1px solid black;
		margin: -10px -10px 0px -10px;

	}
	.left {
		font-size: 25px;
		margin: 4px 0px 0px 85px;
		width: 40%;
		float: left;
	}
	.right {
		width: 50%;
		float: right;
		margin-top: 7px;
	}
	#box2 {
		margin: 140px 250px 200px 250px;
		height: 285px;
		border: 1px solid black;
		border-radius: 5px;
		padding: 0px 0px 0px 0px;
		background-color: white;	
	}
	.left2 {
		width: 30%;
		margin: 30px 0px 0px 10px;
		float: left;
		text-align: center;
	}
	.right2 {
		font-size: 25px;
		margin: 20px 15px 10px 10px;
		width: 400px;
		float: right;
	}
	#box3 {
		margin: 200px 400px 200px 100px;
		height: 285px;
		border: 1px solid black;
		border-radius: 5px;
		padding: 0px 0px 0px 0px;
		background-color: white;
	}
	.left3 {
		width: 30%;
		margin: 30px 0px 0px 5px;;
		float: left;
		text-align: center;
	}
	.right3 {
		font-size: 25px;
		margin: 20px 30px 10px 10px;
		width: 400px;
		float: right;
	}

	#box4 {
		margin: 200px 100px 200px 400px;
		height: 275px;
		border: 1px solid black;
		border-radius: 5px;
		padding: 0px 0px 0px 0px;
		background-color: white;
	}
	.left4 {
		width: 30%;
		margin: 50px 9px 0px 20px;
		float: left;
		text-align: center;
	}
	.right4 {
		font-size: 25px;
		margin: 20px 30px 10px 10px;
		width: 400px;
		float: right;
	}
	#box5 {
		margin: 200px 400px 200px 100px;
		height: 275px;
		border: 1px solid black;
		border-radius: 5px;
		padding: 0px 0px 0px 0px;
		background-color: white;
	}
	.left5 {
		width: 30%;
		margin: 50px 9px 0px 20px;
		float: left;
		text-align: center;
	}
	.right5 {
		font-size: 25px;
		margin: 20px 30px 10px 10px;
		width: 400px;
		float: right;
	}
	
*/