* {
	font-family: 'Source Sans Pro', sans-serif
}

.left {
	float: left;
}

.header {
	text-align: center;
	margin: 0 auto;
}

/*******************************Home***********************************/
/**********************************************************************/
.home-box {
	color: #fff;
	float: left;
	font-size: 30px;
	height: 200px;
	line-height: 200px;
	margin: 3px;
	text-align: center;
	vertical-align: center;
	width: 200px;
}

.name-box {
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	height: 200px;
	line-height: 200px;
	margin: 3px;
	position: relative;
	text-align: center;
	vertical-align: center;
	width: 406px;
}

.home-box:hover {
	cursor: pointer;
}

.home-border-box {
	color: #464646;
	float: left;
	font-size: 30px;
	height: 196px;
	line-height: 200px;
	margin: 3px;
	text-align: center;
	width: 196px;
}

.home-border-box.red-border:hover {
	color: #fff;
	background-color: #f0652f;
	cursor: pointer;
}

.home-container {
	margin: 0 auto;
	width: 830px;
}

/*****************************Portfolio********************************/
/**********************************************************************/

.portfolio-container {
	margin: 0 auto;
	width: 418px;
}

.portfolio-show {
	background-color: #fff;
	color: #464646;
	height: 450px;
	margin: 0 auto;
	padding: 40px;
	position: relative;
<<<<<<< HEAD
	left: 18%;
	margin-left: -150px;
}


/******************************CONTACT******************************/
/*******************************************************************/

#contact {
	width: 590px;
	height: 30px;
	margin: 40px auto;
	margin-bottom: 0px;
	clear: both;
	font-size: 30px;
	/*border: 1px dashed;*/
}

#info_left {
	float: left;
	margin-right: 100px;
}

#sun {
	float: left;
	margin-right: 100px;
}

#info_right {
	float: left;
}

#github {
	float: left;
	height: 180px;
	width: 180px;
	background: url('../images/github-256.png') no-repeat;
	background-size:180px 180px;
}

#linkedin {
	float: left;
	height: 180px;
	width: 180px;
	background: url('../images/linkedin-256.png') no-repeat;
	background-size:180px 180px;
}

#twitter {
	float: left;
	height: 180px;
	width: 180px;
	background: url('../images/twitter-256.png') no-repeat;
	background-size:180px 180px;
}

#gmail {
	float: left;
	height: 180px;
	width: 180px;
	background: url('../images/gmail-256.png') no-repeat;
	background-size:180px 180px;
}

#instagram {
	float: left;
	height: 180px;
	width: 180px;
	background: url('../images/instagram-256.png') no-repeat;
	background-size:180px 180px;
}

#phone {
	float: left;
	height: 180px;
	width: 180px;
	background: url('../images/phone-256.png') no-repeat;
	background-size:180px 180px;
}
.icons {
	width: 720px;
	margin: 40px auto;
	/*border: 1px dashed;*/
}

@media only screen and (max-width: 767px) {
	body {margin-left: 40;}
  .home-wind span {top: 250px; left: 100px;}
	.home-wind img {top: 375px; left: 74px;}
	.home-links {padding-top: 45px;}
	.home-image-container {width: 310px;}
	.home-image img {margin-left: -150px}
	.icons {width: 250px;}
	#contact {margin-left: 53px; width: 300px; text-align: center;}
	#sun {margin-left: -75px; width: 0px; opacity: 0;}
	#name {top: 0px; left: -190px; position: absolute; margin-bottom: 10px}
	/*#info_left p: {padding-left: 100px;}*/
	/*#info_right: {margin-left: -40px;}*/
}

/******************************RESUME*******************************/
/*******************************************************************/

#resume {
	width: 940px;
	height: 1300px;
	overflow:hidden;
	margin-top: -38px;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (max-width: 767px) {
	#resume {
		height: 1800px;
	}
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {
	background: #e3e5e5; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 16px; 
	color: #222;
=======
	width: 750px;
>>>>>>> master
}

.portfolio-info {
	background-color: #464646;
	border: 2px solid #464646;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 16px;
	left: 4%;
	padding: 10px;
	position: absolute;
	top: 6%;
	width: 280px;
}

.portfolio-info-image {
	bottom: 6%;
	position: absolute;
	right: 5%;
}

.circle {
	border-radius: 100%;
}

.ep-image {
	border: 1px solid #464646;
}

/*******************************Contact**********************************/
/**********************************************************************/
.about-me-inner {
	padding: 30px;
	margin: 0px 0px 100px 22%;
	width: 700px;
}
.about-me-outer {
	background-color: #689aca;
	height: 300px;
	margin-top: -53px;
	width: 100%;
}

.contact {
	margin: 0px 0px 0px 22%;
	padding: 30px;
	width: 700px;
}

.contact-box {
	color: #464646;
	float: left;
	font-size: 18px;
	height: 100px;
	margin: 3px;
	text-align: center;
	width: 200px;
}

.info {
	margin-top: 0px;
}

.font-awesome {
	color: #e74c3c;
}

/*******************************Color**********************************/
/**********************************************************************/
.red-border {
	border: 2px solid #f0652f;
}

.light-blue {
	background-color: #689aca; 
}

.white {
	background-color: #fff;
}

.white-font {
	color: #fff !important;
}

.grey-font {
	color: #464646 !important;
} 

.grey-border {
	border: 2px solid #464646;
}

.section-one {
	background-color: #fff;
}
.section-two {
	background-color: #464646;
}

.section-three {
	background-color: #fff;
}









