* {
	font-family: 'Source Sans Pro', sans-serif
}

.left {
	float: left;
}

.header {
	text-align: center;
	margin: 0 auto;
}

.nav-white {
	color: #fff;
	font-size: 30px;
	position: fixed;
	top: 4%;
	z-index: 99;
}

.nav-white:hover {
	color: #e74c3c;
}

.home-link {
	cursor: pointer;
	left: 85%;
}

.portfolio-link {
	cursor: pointer;
	left: 89%;
}

.contact-link {
	cursor: pointer;
	left: 93%;
}
/*******************************Home***********************************/
/**********************************************************************/
.home-box {
	color: #fff;
	float: left;
	font-size: 30px;
	height: 200px;
	line-height: 200px;
	margin: 3px;
	text-align: center;
	vertical-align: center;
	width: 200px;
}

.name-box {
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	height: 200px;
	margin: 3px;
	position: relative;
	text-align: center;
	top: 10%;
	vertical-align: center;
	width: 406px;
}
.name-box p {
	margin-top: 12px;
	font-size: 20px;
}

.name {
	position: absolute;
	top: 25%;
	left: 7%;
}

.home-box:hover {
	cursor: pointer;
}

.home-border-box {
	color: #e74c3c;
	float: left;
	font-size: 30px;
	height: 196px;
	line-height: 200px;
	margin: 3px;
	text-align: center;
	width: 196px;
}

.home-border-box.red-border:hover {
	color: #fff;
	background-color: #e74c3c;
	cursor: pointer;
}

.home-container {
	margin: 0 auto;
	width: 830px;
}

/*****************************Portfolio********************************/
/**********************************************************************/

.portfolio-container {
	margin: 0 auto;
	width: 418px;
}

.portfolio-show {
	background-color: #fff;
	color: #464646;
	height: 400px;
	margin: 0 auto;
	padding: 40px;
	position: relative;
	width: 750px;
}

.portfolio-info {
	background-color: #464646;
	border: 2px solid #464646;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 16px;
	left: 4%;
	padding: 10px;
	position: absolute;
	top: 6%;
	width: 280px;
}

.portfolio-info-image {
	bottom: 6%;
	position: absolute;
	right: 5%;
}

.circle {
	border-radius: 100%;
}

.ep-image {
	border: 1px solid #464646;
}

/*******************************Contact********************************/
/**********************************************************************/
.about-me-inner {
	position: relative;
	top: 15%;
	margin: 0px 0px 0px 23%;
	width: 700px;
}

.about-me-outer {
	position: absolute;
	background-color: #689aca;
	height: 45%;
	top: 0px;
	width: 100%;
}

.contact {
	height: 55%;
	position: absolute;
	margin: 0px 0px 0px 23%;
	width: 900px;
}

.contact-box {
	color: #464646;
	float: left;
	font-size: 18px;
	height: 100px;
	margin-right: 120px;
	text-align: center;
	width: 150px;
}

.info {
	margin-top: 0px;
}

.font-awesome {
	color: #e74c3c;
}

/*******************************Color**********************************/
/**********************************************************************/
.red-border {
	border: 2px solid #e74c3c;
}

.light-blue {
	background-color: #689aca; 
}

.white {
	background-color: #fff;
}

.white-font {
	color: #fff !important;
}

.grey-font {
	color: #464646 !important;
} 

.grey-border {
	border: 2px solid #464646;
}

.section-one {
	background-color: #fff;
}
.section-two {
	background-color: #464646;
	margin: 0px;
}

.section-three {
	background-color: #fff;
	margin: 0px;
}








